@page "/customerSetting"

<h3>CustomerSetting</h3>

@if (CustomerSettings == null){
    <div>Loading</div>
}else
{
    <table border="1">
        <thead>
            <tr>
                <th>AttributeId</th>
                <th>AttributeName</th>
                <th>Description</th>
                <th>IsDistributorAttribute</th>
                <th>IsCustomerAttribute</th>
                <th>Used</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in CustomerSettings)
            {
                <tr>
                    <td>@item.AttributeId</td>
                    <td>@item.AttributeName</td>
                    <td>@item.Description</td>
                    <td>@item.IsDistributorAttribute</td>
                    <td>@item.IsCustomerAttribute</td>
                    <td>@item.Used</td>
                </tr>
            }
        </tbody>
    </table>
}

